<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/png" href="../../assets/src1/img/favicon.png"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>CyberSoft</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="../../assets/src1/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="../../assets/src1/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="../../assets/src1/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="../../assets/src1/img/sidebar-5.jpg">
        <!--
        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="quanly.html" class="simple-text">
                        Quản lý
                    </a>
                </div>

                <ul class="nav">
                    <li class="active">
                        <a href="quanly.html">
                            <i class="pe-7s-graph"></i>
                            <p>Quản lý</p>
                        </a>
                    </li>
                    <li>
                        <a href="quanlynguoidung.html">
                            <i class="pe-7s-user"></i>
                            <p>Quản lý người dùng</p>
                        </a>
                    </li>
                    <li>
                        <a href="quanlykhoahoc.html">
                            <i class="pe-7s-note2"></i>
                            <p>Quản lý khóa học</p>
                        </a>
                    </li>
                    <li>
                        <a href="quanlyhocvien.html">
                            <i class="pe-7s-id"></i>
                            <p>Quản lý học viên</p>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="pe-7s-close-circle"></i>
                            <p>Về trang chủ</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Thông báo</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Quản lý</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-dashboard"></i>
                                    <p class="hidden-lg hidden-md">Quản lý</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
                                    <p class="hidden-lg hidden-md">
                                        2 Thông báo mới
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Thông báo 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Thông báo 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-search"></i>
                                    <p class="hidden-lg hidden-md">Tìm kiếm</p>
                                </a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="text-warning" href="index.html">
                                    <p>Về trang chủ</p>
                                </a>
                            </li>
                            <li class="separator hidden-lg"></li>
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="card text-center">
                                <div class="card-body bg-info">
                                    <h3 class="text-warning font-weight-bold">Người dùng</h3>
                                    <h1 class="display-4">
                                        <i class="pe-7s-users"></i>
                                        <span id="soluongnguoidung">6</span>
                                    </h1>

                                    <a href="quanlynguoidung.html" class="btn btn-outline-light btn-primary">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center">
                                <div class="card-body bg-info">
                                    <h3 class="text-warning">Khóa học</h3>
                                    <h1 class="display-4">
                                        <i class="pe-7s-note2"></i>
                                        <span id="soluongkhoahoc">5</span>
                                    </h1>
                                    <a href="quanlykhoahoc.html" class="btn btn-outline-light btn-primary">Chi tiết</a>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="card text-center">
                                <div class="card-body bg-info">
                                    <h3 class="text-warning">Học viên</h3>
                                    <h1 class="display-4">
                                        <i class="pe-7s-id"></i>
                                        <span id="soluonghocvien">6</span>
                                    </h1>
                                    <a href="quanlyhocvien.html" class="btn btn-outline-light btn-primary">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 bg-secondary">
                                <div class="bg-info" id="bieudotron" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto;color:cyan;"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="index.html">Copyright CyberSoft All rights reservedt</a>
                    </p>
                </div>
            </footer>

        </div>
    </div>


</body>
<script>
    var SoLuongKhoaHoc = localStorage.getItem("SoLuongKhoaHoc");
    document.getElementById("soluongkhoahoc").innerHTML = SoLuongKhoaHoc;

    var SoLuongNguoiDung = localStorage.getItem("SoLuongNguoiDung");
    document.getElementById("soluongnguoidung").innerHTML = SoLuongNguoiDung;

    var SoLuongHocVien = localStorage.getItem("SoLuongHocVien");
    document.getElementById("soluonghocvien").innerHTML = SoLuongHocVien;
</script>

<!--   Core JS Files   -->
<script src="../../assets/src1/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="../../assets/src1/js/bootstrap.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="../../assets/src1/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../../assets/src1/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="../../assets/src1/js/light-bootstrap-dashboard.js"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<!-- <script src="../../assets/src1/js/demo.js"></script> -->

<script type="text/javascript">
    $(document).ready(function () {

        demo.initChartist();

        $.notify({
            icon: 'pe-7s-gift',
            message: "Trang quản lý CyberSoft"

        }, {
            type: 'warning',
            timer: 4000
        });

    });
</script>

<!-- High charts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="../../assets/src1/vendors/bieudo/bieudotron.js"></script>

</html>
